# Local build directories
bin/
logs/

# Compiled objects and bytecodes
*.o
*.bpf.o

# Apptainer images
*.sif
deployment/*.sif

# Log outputs and env configuration backups
*.log
*.env

# Temporary and editor files
.DS_Store
.vscode/
.idea/
